html, body, #root {
  margin: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(#ffffff, #eeffff);
}

svg {
  opacity: 0.001;
  transition: opacity 1s 1s;
}

body.initialized svg {
  opacity: 1;
}

svg {
  .links line {
    stroke: #aaa;
  }

  .node {
    pointer-events: all;
    cursor: pointer;
    stroke: #000;
    stroke-width: 1px;

    &.open > circle,
    &.open > rect {
      stroke: #f00;
      stroke-width: 2px;
    }

    > text {
      transition: 0.5s 0.5s;

      tspan {
        font: 14px Helvetica, Arial, sans-serif;
        fill: #000;
        stroke-width: 0;
        text-anchor: middle;
        text-shadow: 0 0 5px white;
      }
    }

    &:hover {
      .title {
        transition: 0.5s;
        transform: translateY(5em) scale(1.5);
      }
    }
  }
}

.commandOverlay,
.commands {
  opacity: 0;
  transition: opacity 0.5s;

  button {
    display: none;
  }

  &.active {
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);

    button.active {
      display: block;
      white-space: nowrap;
    }
  }
}
