html, body, #root {
  margin: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(#ffffff, #eeffff);
  font: 1rem -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #222222;
}

button {
  -webkit-appearance: button;
  text-transform: none;
  cursor: pointer;
  font-size: 1.3rem;
}

svg {
  opacity: 0.001;
  transition: opacity 1s 1s;
}

body.initialized svg {
  opacity: 1;
}

svg {
  .links line {
    stroke: #aaa;
  }

  .node {
    pointer-events: all;
    cursor: pointer;
    stroke: #000;
    stroke-width: 1px;

    &.open > circle,
    &.open > rect {
      stroke: #f00;
      stroke-width: 2px;
    }

    > text {
      transition: 0.5s 0.5s;

      tspan {
        font-size: 14px;
        fill: #000;
        stroke-width: 0;
        text-anchor: middle;
        text-shadow: 0 0 5px #fff, 0 0 5px #fff;
      }
    }

    &.withBg > text {
      transform: translate(0, 20px);

      tspan {
        fill: #fff;
        text-shadow: 0 0 5px #000, 0 0 5px #000;
      }
    }

    &:hover, &.menuActive {
      .title {
        transition: 0.5s;
        transform: translateY(5em) scale(1.5);
      }
    }
  }
}

.commands {
  opacity: 0;
  transition: opacity 0.5s;

  &.commandContainer > * {
    width: 100px;
    height: 50px;
    x: -50px;
    y: -10px;
    text-align: center;

    button {
      display: none;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      white-space: nowrap;
      font-family: 'Glyphicons Halflings';
    }
  }

  &.active {
    opacity: 1;

    button.active {
      display: inline-block;
    }
  }
}

.detailForm {
  position: absolute;
  right: 0;
  left: 0;
  padding: 0 15px 15px;
  line-height: 1.3em;
  max-width: 640px;
  margin: 2em auto 0 auto;
  border: 1px solid #ccc;
  background: white;
  box-shadow: 1px 1px 5px #ddd;

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  img.profile-picture {
    float: left;
    margin-right: 1em;
  }

  h2 button.close {
    float: right;
    border: none;
    background: transparent;
  }

  .tag {
    border: 1px solid #222222;
    padding: 3px;
    line-height: 2em;
    border-radius: 4px;
    background: deepskyblue;
    font-size: 0.9rem;
    white-space: nowrap;
  }
}

#showDetails {
  font-size: 16px;
  font-family: Courier, monospace;
  font-weight: bold;
}

.zoom {
  position: absolute;
  right: 5px;
  top: 50%;
  font: 20px 'Glyphicons Halflings';

  > div {
    margin-top: -100%;

    > * {
      cursor: pointer;
      background: white;
      padding: 5px 6.5px;
      border-radius: 50%;
      border: 1px solid #ccc;
      margin: 10px 0;
    }
  }
}

.dialogOpen .zoom {
  display: none;
}
