html, body, #root {
  margin: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(#ffffff, #eeffff);
  font: 1rem -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #222222;
}

button {
  -webkit-appearance: button;
  text-transform: none;
  cursor: pointer;
  font-size: 1.3rem;
}

svg {
  opacity: 0.001;
  transition: opacity 1s 1s;
}

body.initialized svg {
  opacity: 1;
}

svg {
  .links line {
    stroke: #aaa;
  }

  .node {
    pointer-events: all;
    cursor: pointer;
    stroke: #666;
    stroke-width: 0.5px;

    &.open > circle:first-child,
    &.open > rect:first-child {
      stroke: #f00;
      stroke-width: 2px;
    }

    > g {
      transition: 0.5s;

      .text-bg {
        fill: #fcffff;
        rx: 5px;
        ry: 5px;
      }

      > text {
        transition: 0.5s 0.5s;

        tspan {
          fill: #000;
          stroke-width: 0;
          font-weight: normal;
          text-anchor: middle;
          text-shadow: 0 0 5px #fff, 0 0 5px #fff;
        }
      }
    }

    &.withBg > g {
      transform: translate(0, 40px);

      tspan {
        text-shadow: none;
      }
    }

    &:hover, &.menuActive {
      circle + g {
        transform: translateY(5em) scale(1.5);
      }
    }

    rect {
      stroke: none;
    }

    > rect:first-child + text tspan {
      font-weight: bold;
      fill: #666;
    }
  }
}

.command {
  display: none;

  &.active {
    display: block;
  }
}

.detailForm {
  padding: 0 15px 15px;
  line-height: 1.3em;
  max-width: 100%;
  margin: 0 5px;
  border: 1px solid #ccc;
  background: white;
  box-shadow: 1px 1px 5px #ddd;
  opacity: 0;
  transition: opacity 1s;

  @media (min-width: 500px) {
    max-width: 640px;
    width: 500px;
    margin: 0 auto;
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  .profile-picture {
    float: left;
    display: inline-block;
    width: 120px;
    height: 120px;
    margin: 0 10px 10px 0;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
  }

  h2 button.close {
    float: right;
    border: none;
    background: transparent;
  }

  .tag-view:before {
    content: '';
    display: table;
    clear: both;
  }

  .tag {
    border: 1px solid #bbbbbb;
    padding: 5px;
    line-height: 2.4em;
    border-radius: 4px;
    background: #bbddff;
    font-size: 0.9em;
    white-space: nowrap;
  }
}

.details {
  visibility: hidden;
  font-size: 16px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;

  > div {
    display: table-cell;
    vertical-align: middle;
  }
}

.dialogOpen .details {
  display: table;
  visibility: visible;
}

.dialogOpen .detailForm {
  opacity: 1;
}

.menuActive .title,
.menuActive .text-bg {
  display: none;
}

.zoom {
  position: absolute;
  right: 5px;
  top: 50%;
  font: 20px 'Glyphicons Halflings';

  > div {
    margin-top: -100%;

    > * {
      cursor: pointer;
      background: white;
      padding: 5px 6.5px;
      border-radius: 50%;
      border: 1px solid #ccc;
      margin: 10px 0;
    }
  }
}

.dialogOpen .zoom {
  display: none;
}

.selection {
  position: absolute;
  top: 0;
  margin: auto;
  width: 100%;
  text-align: center;
  padding-top: 10px;

  a {
    background: white;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 4px;
  }
}
